html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #394B58;
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}
.login_form, table{
    max-width: 400px;
    padding: 0px 6px 6px 5px;
    background-color: #fff;
    border-radius: 5px;
}
img{
    max-width: 120px;
    top: 200px;
    bottom: 0;
}
.logo{
    display: flex;
    align-items: center;
    min-width: 220px;
}
.logo label{
    font-size: 23px;
    font-weight: 550;
}
.sign_up{
    font-size: 12px;
    padding-left: 40px;
    font-weight: 550;
    color: #333333ac;
}
td+td{
    text-align: right;
}
table .resize-form{
    width: 97%;
    min-height: 32px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-radius: 3px;
    border-style: none;
    outline: 0.5px solid #000;
    padding-left: 7px;
    box-sizing: border-box;
}
table .resize-form:focus{
    border-style: none;
    outline: 0.5px solid #194254;
}
.styled_label{
    font-weight: 550;
    color: #0E323F;
}
.remember_me{
    margin-bottom: 5px;
}
.forgot_password{
    font-size: 14px;
    color: #333232;
    font-weight: 500;
    padding-left: 10px;
}
.forgot_password:hover{
    color: #494ed0;
}
.login_btn{
    min-width: 90%;
    min-height: 35px;
    font-size: 14px;
    font-weight: 550;
    color: #0E323F;
    margin-right: 5px;
    background-color: #E8F0FE;
    border-color: #176480;
    border-style:groove;
    border-radius: 5px;
    border-style: none;
}
.login_btn:hover{
    cursor: pointer;
    border-style: none;
    color: #131212;
    background-color: #e9edf5;
}
.footer{
    width: 415px;
}
.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a, .footer label{
    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer a:hover{
    text-decoration: none;
}
.footer .styled_link{
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
}
.footer .footer_links a{
    margin: 120px 10px 10px 0px;
}
.flex_container:last-child{
    margin-top: 5px;
}
.flex_container:last-child a:first-child{
    text-decoration: none;
    margin-right: 3px;
}